<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="jumbotron text-center" style="background-image: url(https://fortunedotcom.files.wordpress.com/2014/09/130024733.jpg?w=1100&quality=85")>
    <h1>Alex & Nathan's Betting Newsroom</h1>
  </div>


<table class="table table-striped">
  <thead>
    <tr>
      <th><h3>Tweet</h3></th>
      <th><h3>User</h3></th>
      <th><h3>Likes</h3></th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.message %></td>
        <td><%= tweet.user.username %></td>
        <td><%= tweet.likes.count %></td>
        <% if current_user.id == tweet.user_id %>
            <td><%= link_to 'Show Tweet', tweet, class: "btn btn-primary" %></td>
            <td><%= link_to 'Edit Tweet', edit_tweet_path(tweet), class: "btn btn-primary" %></td>
            <td><%= link_to 'Delete Tweet', tweet, class: "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
            <td><%= link_to 'Show Tweet', tweet, class: "btn btn-primary" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
    <%= link_to 'New Tweet', new_tweet_path, class: "btn btn-primary" %>
    <%= link_to "User Betting Profiles", profiles_path, class: "btn btn-primary" %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger"%>


