<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <h4>Message:</h4>
  <%= @tweet.message %>
</p>

<p>
  <strong><h4>User:</h4></strong>
  <%= @tweet.user.username %>
</p>

<%= render "shared/likes" %>
<br />

<%= link_to 'Edit', edit_tweet_path(@tweet), class: "btn btn-default" %>
<%= link_to 'Back', tweets_path, class: "btn btn-default" %>
<%= link_to "Sign Out", destroy_user_session_path, 
method: :delete, class: "btn btn-danger"%>
</div>